body{
  font-family: helvetica, sans-serif;
  color: white;
  background: black;
  text-align: center;
  text-size: 300%;
}
.paixao{
  text-size: larger;
  text-align: center;
  color: red;
  background: #151515;
  width: 10em;
  margin-left: auto;
  margin-right: auto;
}
a.paixao{
  text-decoration: none;
  text-color: cyan;
}
