body{
  font-family: helvetica, sans-serif;
  color: white;
  background: black;
  text-align: center;
  text-size: 300%;
}
body h1{
  text-size: 256px;
  font-family: verdana, sans-serif;
}
.paixao{
  text-size: larger;
  text-align: center;
  color: red;
  background: #151515;
  width: 10em;
  margin-left: auto;
  margin-right: auto;
}
a.paixao{
  text-decoration: none;
  text-color: cyan;
}
.construcao{
  text-size: xx-large;
  color: yellow;
  width: 8em;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  background: #111111;
}
.desculpe{
  text-size:128px;
  margin-left: 20px;
}
.idiomas{
  text-align:center;
  font-size: 70px;
}
.escolhaidioma{
  text-align:center;
  font-size: 92px;
}
